@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-toggle-wrapper {
    @apply fixed top-4 left-4 z-50;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.vm-gradient-line {
    background: linear-gradient(45deg, #c62020, #208fc6, #ffffff, #c62020, #208fc6, #ffffff, #c62020);
    background-size: 200% 100%;
    background-repeat: repeat-x;
    animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}